@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

font-face {
    font-family: 'Hannari';
    src: url('fonts/Hannari-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Hannari', sans-serif; 
}
.form-name{
    display: flex;
    flex-direction: column;     
    margin-bottom: 15px; 
    margin-right: 20px;
  }

.form-birt_email_contact{
    display: flex;
    flex-direction: column;     
    margin-bottom: 15px; 
    margin-right: 20px;
  }
.form-address{
    display: flex;
    flex-direction: column;     
    margin-bottom: 15px; 
    margin-right: 20px;
}
.form-college{
    margin-top: 20px;
    display: flex;
    flex-direction: column;     
    margin-right: 20px;
}   
.form-occupation{
    margin-top: 20px;
    display: flex;
    flex-direction:column;     
    margin-bottom: 30px; 
    margin-right: 20px;
}   
.form-volunteer_area{
    display: flex;
    flex-direction:column;
    margin-right: 40px;
    margin-top: 0px;
}
.form-additional{
    display: flex;
    flex-direction: column;     
    margin-bottom: 30px; 
}
.form-available{
    margin-top: 20px;
    display: flex;
    flex-direction:column;     
    margin-bottom: 30px; 
    margin-right: 100px;
}

.first_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
   
}
.second_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.third_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.fourth_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fifth_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sixth_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.seventh_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.eight_row{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.ninth_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
label{
    font-weight: bold;
}
  
input{
    width:230px;
    height: 25px;
    font-size: 13px;
    border: 1px solid #353131;
    border-radius: 5px;
}
p{
    margin-bottom: 0px;
}

select{
    border-radius: 5px;
    height: 29px;
    width: 200px;
}

.address{
    width: 270px;
}
.course, .college, .occupation, .department,.volunteer{
    width: 400px;
}
.areas_volunteer{
    margin-left: 40px;
}
.if_yes{
    margin-top: 0px;
    margin-left: 100px;
}
.textarea{
    width: 380px;
    height: 90px;
    margin-right: 30px;
}
.volunteer{
    margin-bottom: 30px;
}

.one, .Second {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

input[type="checkbox"] {
    width: 20px; 
    height: 20px;
    margin-right: 30px; 
    vertical-align: middle; 
    
}

.form-available select{
    width: 100px;
}

.to{
    margin-right: 20px;
}

.time-selection{
   margin: 5px;
}

.additional_info{
    width: 850px;
    height: 120px;
    border-radius: 5px;
}
.form-additional label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 5px;
}
.button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.address_label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

.address_label hr {
    border: none;
    border-top: 2px solid #a4a1a1;
    margin: 0;
}

.left-line {
    width: 10%;   
}

.right-line {
    width: 47%; 
}
